<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button 
          item-left 
          primary
          (click)="showRootDirectories()"
      >
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>    
    <ion-title>
      Example Ionic Native File App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--
  <div *ngIf="0 < messages.length" class="warnings" >
    <h1 text-center>MESSAGES</h1>
    <p *ngFor="let message of messages" text-left>{{ message.toString() }}</p>
  </div>
  -->
  <div	*ngFor="let dirInfo of dirsInfo$ | async">
  	<h2>{{ dirInfo.rootDirName + "/" + dirInfo.rootPath }}</h2>
    <h6>({{ (rootDirs[dirInfo.rootDirName].dir).toString() + dirInfo.rootPath }})</h6>
  	<h5 text-center>Files ({{ (dirInfo.files).length }})</h5>
  	<div *ngIf="0 == (dirInfo.files).length" class="empty" text-center>< none ></div>
  	<div *ngFor="let fileName of (dirInfo.files).sort()" class="blue">
  	{{ fileName }}
  	</div>
  	<h4 text-center>Sub-Directories ({{ (dirInfo.directories).length }})</h4>
  	<div 
         *ngIf="0 == (dirInfo.directories).length" 
         class="empty" 
         text-center
    >< none ></div>
  	<p 
         *ngFor="let dirName of (dirInfo.directories).sort()" 
         class="blue"
         (click)="showDir(dirInfo, dirName)"
    >{{ dirName }}</p>
  	<div class="paddingAfter"></div>
  </div>
  <div *ngIf="0 < (dirsMissing$ | async).length">
  	<h1 text-center>Missing Root Directories ({{ (dirsMissing$ | async).length }})</h1>
  	<div	*ngFor="let dirName of (dirsMissing$ | async).sort()" class="orange">
  	{{ dirName }}
  	</div>
  	<div class="paddingAfter"></div>
  </div>
</ion-content>
